.createItemContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 3%;
    width: 33%;
}

.textClass {
    font-size: 16px;
    margin-top: 3%;
}

.addItemButton {
    border: none;
    color: white;
    border-radius: 0;
    text-align: center;
    font-size: 14px;
    border-radius: 24px;
    cursor: pointer;
    padding: 16px;
    background-color: #0288d1;
    margin-top: 3%;
}

.addItemButton:focus {
    background-color: #0277bd;
    outline: none;
}

.deleteItemButton {
    border: none;
    color: white;
    border-radius: 0;
    text-align: center;
    font-size: 14px;
    border-radius: 24px;
    cursor: pointer;
    padding: 16px;
    background-color: #de1e1d;
    margin-top: 3%;
    margin-left: 3%;
}

.deleteItemButton:focus {
    background-color: #c91b1b;
    outline: none;
}

.horizontalButtonsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}