.addExistingCategoryContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 3%;
}

.existingCategoriesDropdown {
    margin-top: 3%;
}

.selectCategoryButton {
    border: none;
    color: white;
    border-radius: 0;
    text-align: center;
    font-size: 14px;
    border-radius: 24px;
    cursor: pointer;
    padding: 16px;
    background-color: #009900;
    margin-top: 1%;
}

.selectCategoryButton:focus {
    background-color: #008000;
    outline: none;
}

.createNewCategoryButton {
    border: none;
    color: white;
    border-radius: 0;
    text-align: center;
    font-size: 14px;
    border-radius: 24px;
    cursor: pointer;
    padding: 16px;
    background-color: #0288d1;
    margin-top: 3%;
}

.createNewCategoryButton:focus {
    background-color:#0277bd;
    outline: none;
}