.mainScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dropdownContainer {
    margin-top: 20%;
}

.button {
    margin-top: 2%;
    border: none;
    color: white;
    border-radius: 24px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    padding: 16px;
}

.button:focus {
    border-radius: 24px;
    outline: none;
}

.goToListButton {
    background-color: #0288d1;
}

.goToListButton:focus {
    background-color: #0277bd;
}

.createListButton {
    background-color: #009900;
}

.createListButton:focus {
    background-color: #008000;
}

.deleteListButton {
    background-color: #de1e1d;
}

.deleteListButton:focus {
    background-color: #c91b1b;
}